<div class="container" style="font-family: 'Monomaniac One', sans-serif; margin-top: 33px; margin-bottom: 22px;">
  <h3 style="font-size: 33px;">つぶやきの改訂</h3>

  <%= form_for(@post) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control" %>
    </div>

    <%= f.submit "これでいい?", class: "btn btn-primary button-depress" %>
  <% end %>
</div>