<div class="container mb-2 mt-2 px-3 px-sm-0">
  <div class="row mt-4">
    <% @posts.each do |post| %>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <% if post.image.attached? %>
              <%= image_tag post.image, class: "card-img-top" %>
            <% end %>
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"><%= truncate(post.content, length: 50, omission: "...") %></p>
            <span class="sentiment-score">感情分析スコア<%= post.score %></span>
            <p class="card-text">投稿主: <%= post.user.name %></p>
            <% post.tags.each do |tag| %>
              <span class="badge badge-primary mb-1"><%= tag.tag_name %></span>
            <% end %>
            <br>
            <%= link_to "詳細", post_path(post), class: "btn btn-secondary button-depress" %>
            <div class="col-3 d-flex align-items-center">
              <%= render "public/bookmarks/bookmark", post: post %>
              <a href="#" class="icon-link">
                <i class="fas fa-comment"></i>
              </a>
              <a href="#" class="icon-link">
                <i class="fas fa-eye"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <%= link_to "つぶやく？", new_post_path, class: "btn btn-primary button-depress" %>
    <%= link_to "コメント", comments_user_path(current_user), class: "btn btn-primary button-depress" %>
    <%= link_to "タグ", tags_path, class: "btn btn-primary button-depress" %>
  <% end %>
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @posts, theme: "twitter-bootstrap-4" %>
  </div>
</div>