<div class="container mt-3 mb-2">
  <!-- タグ作成フォーム -->
  <div class="col-8 mx-auto form-group" id="new-tag-form" style="display: none; position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.6); padding: 30px; z-index: 9999;">
    <table class="table table-borderless">
      <tr>
        <td>
          <%= form_with model: @tag, class: "form-inline", local: false do |f| %>
            <%= f.text_field :tag_name, placeholder: "新しいタグ", class: "form-control mr-2", style: "width: 70%" %>
            <%= f.submit "作成", class: "btn btn-primary", style: "width: 25%" %><br>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <%= form_for(@post, html: { class: 'form', multipart: true }) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <div class="col-sm-6">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :content %>
      <div class="col-sm-6">
        <%= f.text_area :content, class: 'form-control', rows: "10" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <div class="col-sm-6">
        <%= f.file_field :image, class: 'form-control', accept: ".jpg, .png", id: "post_image" %>
        <br>
        <div id="image-preview"></div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :tags, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-6">
        <%= f.collection_select :tag_ids, Tag.all, :id, :tag_name, { include_blank: false }, { multiple: true, class: 'form-control custom-select', id: 'tag-select' } %>
      </div>
    </div>

    <div class="text-right">
      <%= f.submit "つぶやく", class: 'btn btn-primary button-depress' %>
      <%= link_to posts_path, class: 'btn btn-secondary button-depress' do %>
        <i class="fas fa-undo-alt"></i>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  // 画像プレビュー
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#image-preview').html('<img src="' + e.target.result + '" class="img-thumbnail" style="max-width: 200px; max-height: 200px;">');
      };
      reader.readAsDataURL(input.files[0]);
    }
  }

  $(document).on('change', '#post_image', function () {
    readURL(this);
  });
</script>
