<div class="container mb-3 mt-5 px-3 px-sm-0">
  <div class="row">
    <div class="col-md-6">
      <% if @mypost.image.attached? %>
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <%= image_tag @mypost.image.variant(resize_to_limit: [600, 600]), class: "img-fluid", id: "post-image" %>
          </div>
        </div>
      <% end %>
      <!-- タイトルとコンテンツの表示 -->
      <h1><%= @mypost.title %></h1>
      <p class="post-content"><%= @mypost.content %></p>
      <p class="sentiment-score">感情分析スコア[<%= @mypost.score %>]</p>
    </div>
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Comments</h5>
          <% @mypost.comments.each do |comment| %>
            <div class="comment-box">
              <% if comment.user.profile_image.attached? %>
                <%= image_tag comment.user.profile_image.variant(resize_to_fill: [40, 40]), class: "profile-image" %>
              <% else %>
                <%= image_tag "default_profile_image.png", class: "profile-image" %>
              <% end %>
              <%= comment.user.name %>
              <p class="comment-content"><%= comment.content %></p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <p class="mb-0">Favorite: <%= @bookmark_count %></p>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <% if user_signed_in? && current_user && @mypost.bookmarked?(current_user) %>
            <!-- すでにいいね済みの場合はdestroyアクションへ -->
            <%= link_to post_bookmarks_path(@mypost.id), method: :delete, class: "text-danger heart-icon" do %>
              <span>♡︎</span>
            <% end %>
          <% elsif user_signed_in? %>
            <!-- まだいいねしていない場合はcreateアクションへ -->
            <%= link_to post_bookmarks_path(@mypost.id), method: :post, class: "heart-icon" do %>
              <span>♡︎</span>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Tags</h5>
          <% @mypost.tags.each do |tag| %>
            <span class="badge badge-primary mb-1"><%= tag.tag_name %></span>
          <% end %>
        </div>
      </div>

      <% if current_user && current_user.id == @mypost.user.id %>
        <div class="card mb-3">
          <div class="card-body">
            <%= form_tag update_tags_post_path, method: :patch, class: "tag-form" do %>
              <%= select_tag 'tag_ids[]', options_from_collection_for_select(Tag.all, :id, :tag_name, selected: @mypost.tags.map(&:id)), multiple: true,  class: "custom-select" %>
              <%= submit_tag 'Change Tags', class: "tag-submit btn btn-primary" %>
            <% end %>
          </div>
        </div>
      <% end %>

      <br>

      <% if user_signed_in? %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Comment</h5>
            <%= form_for([@mypost, @comment]) do |f| %>
              <%= f.text_area :content, class: "form-control", rows: 3 %>
              <%= f.submit "コメントする", class: "btn btn-primary mt-3 button-depress" %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 offset-md-2">
            <% if @user == current_user %>
              <%= link_to "改訂", edit_post_path(@mypost), class: "btn btn-secondary mt-2 button-depress" %>
              <%= link_to "削除", post_path(@mypost), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, class: "btn btn-danger button-depress mt-2 mx-1" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
