<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 style="font-family: 'M PLUS Rounded 1c', serif;"><%= @mypost.title %></h1>
      <p style="font-family: 'M PLUS Rounded 1c', serif;"><%= @mypost.content %></p>
      <p style="font-family: 'M PLUS Rounded 1c', serif;">閲覧数: <%= @mypost.viewcount %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <p style="font-family: 'M PLUS Rounded 1c', serif;">コメント</p>
      <% @mypost.comments.each do |comment| %>
        <p style="font-family: 'M PLUS Rounded 1c', serif;"><%= comment.content %></p>
      <% end %>
    </div>
  </div>

  <br>

  <% if user_signed_in? && current_user == @user %>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3 style="font-family: 'M PLUS Rounded 1c', serif;">コメントする？</h3>
      <%= form_for([@mypost, @comment]) do |f| %>
        <%= f.text_area :content, class: "form-control", rows: 3, style: "font-family: 'M PLUS Rounded 1c', serif;" %>
        <%= f.submit "コメントする", class: "btn btn-primary mt-3", style: "font-family: 'M PLUS Rounded 1c', serif;" %>
      <% end %>
    </div>
  </div>

 <div class="row">
    <div class="col-md-8 offset-md-2">
      <% if @user == current_user %>
        <%= link_to "編集", edit_post_path(@mypost), class: "btn btn-secondary mr-2", style: "font-family: 'M PLUS Rounded 1c', serif;" %>
        <%= link_to "削除", post_path(@mypost), method: :delete, data: { confirm: "削除してもよろしいか？" }, class: "btn btn-danger", style: "font-family: 'M PLUS Rounded 1c', serif;" %>
      <% end %>
    </div>
  </div>
<% end %>