<div class="container" style="font-family: 'Monomaniac One', sans-serif; margin-top: 33px; margin-bottom: 22px;">
  <h2>コメント一覧</h2>
  <% @comments.each do |comment| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">ID: <%= comment.id %></h5> <!-- コメントのIDを表示 -->
        <h5 class="card-title"><%= comment.user.name %></h5>
        <p class="card-text"><%= comment.content %></p>
        <p class="card-text"><small class="text-muted"><%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></small></p>
        <p class="card-text">つぶやき: <%= link_to comment.post.title, post_path(comment.post) %></p>
        <% if comment.user_id == current_user.id %> <!-- コメントの所有者のみに削除リンクを表示 -->
          <%= link_to '削除', post_comment_path(comment.post, comment), method: :delete, data: { confirm: '本当に削除しますか？' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>