<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="container" style="margin-top: 33px; margin-bottom: 22px;">
  <div class="row" style= "font-family: 'Monomaniac One', sans-serif;">
    <% @posts.each do |post| %>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"><%= post.content %></p>
            <p class="card-text">投稿者: <%= post.user.name %></p>
            <p class="card-text">作成日時: <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
            <%= link_to "詳細", admin_post_path(post), class: "btn btn-secondary button-depress" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "コメントたち", admin_comments_path, class: "btn btn-primary button-depress", style: "font-family: 'Monomaniac One', sans-serif;" %>

</div>