<h2 style= "font-family: 'Monomaniac One', sans-serif;">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :name, "ユーザーネーム", style: "font-family: 'Monomaniac One', sans-serif;" %><br />
    <%= f.text_field :name, autofocus: true, class: "name", style: "font-family: 'Monomaniac One', sans-serif;" %>
  </div>

  <div class="field">
    <%= f.label :email, style: "font-family: 'Monomaniac One', sans-serif;" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "font-family: 'Monomaniac One', sans-serif;" %>
  </div>

  <div class="field">
    <%= f.label :password, style: "font-family: 'Monomaniac One', sans-serif;" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", style: "font-family: 'Monomaniac One', sans-serif;" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, style: "font-family: 'Monomaniac One', sans-serif;" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", style: "font-family: 'Monomaniac One', sans-serif;" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", style: "font-family: 'Monomaniac One', sans-serif;" %>
  </div>
<% end %>

<%= render "public/shared/links" %>