<header class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <% if user_signed_in? %>
      <a class="navbar-brand" href="<%= user_path(current_user) %>">
        <span class="title">幽霊の足音</span>
      </a>
    <% else %>
      <a class="navbar-brand" href="/">
        <span class="title">幽霊の足音</span>
      </a>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to users_path, class: "nav-link m-2 rounded-pill shadow" do %>
                <i class="fa-solid fa-house"></i>マニアたち
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to posts_path, class: "nav-link m-2 rounded-pill shadow" do %>
                <i class="fa-solid fa-house"></i>つぶやき
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to bookmarks_user_path(current_user.id), class: "nav-link m-2 rounded-pill shadow" do %>
                <i class="fa-solid fa-house"></i>いいね
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link m-2 rounded-pill shadow" do %>
                <i class="fa-solid fa-house"></i>ログアウト
              <% end %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to admin_users_path, class: "nav-link" do %>
                <i class="fa-solid fa-house"></i>マニアたち
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_posts_path, class: "nav-link m-2 rounded-pill shadow" do %>
                <i class="fa-solid fa-house"></i>つぶやき
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_tags_path, class: "nav-link m-2 rounded-pill shadow" do %>
                <i class="fa-solid fa-house"></i>タグ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link m-2 rounded-pill shadow" do %>
                <i class="fa-solid fa-house"></i>ログアウト
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: "nav-link m-2 rounded-pill shadow" do %>
                <i class="fa-solid fa-house"></i>ちょっと覗いてみる?
              <% end %>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li class="nav-item m-2 rounded-pill shadow">
              <%= render partial: "partial/circle" %>
            </li>
          <% end %>
        </ul>
        <div class="col mt-2 search_form">
          <%= form_with url: searches_search_path, local: true, method: :get, html: { class: 'input-group' } do |f| %>
            <div class="input-group">
              <%= f.select :range, options_for_select([['ユーザー'], ['つぶやき'], ['タグ']]), class: 'form-control' %>
              <%= f.text_field :word, class: 'form-control' %>
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
</header>